doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i|Rubik:900i&display=swap")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.xmas20sale
			table.xmas20sale__wrapper
				tr
					td.xmas20sale__innner
						.xmas20sale__popup
							.xmas20sale__star.xmas20sale__star--1
							.xmas20sale__star.xmas20sale__star--2
							.xmas20sale__close
							span.xmas20sale__sign.xmas20sale__sign--1 Sale
							span.xmas20sale__sign.xmas20sale__sign--2 Christmas
							span.xmas20sale__sign.xmas20sale__sign--3 50 #[small %]
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		form#toform
			button.js_submit Кнопка формы

		script(src="js/common.js")
